{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title_block %} {{Login}} {% endblock %}
{% block css_block %}
<style>
 

</style>
{% endblock %}
{% block body_block %}
<center>
  <div class="log_in">
    <form method="POST">
      {{form|crispy}}
      {% csrf_token %}
      <button type="submit" class="btn btn-primary" style="width:100%">Log In</button>
    </form>
  </div>
  <br>
  <div class="sign_up">
    <p>Don't have an account? <a href="{% url 'App_Login:signup' %}">Sign up</a></p>
  </div>
</center>
{% endblock %}
