{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block title_block %} {{Profile}} {% endblock %}
{% block body_block %}
<h2>Your Profile</h2>
<br>
{% if user.user_profile %}
<img src='/media/{{user.user_profile.profile_pic}}' class="rounded-circle" width="150px" alt="">
<br>
<br>
<a href="{% url 'App_Login:change_pro_pic' %}" class="btn btn-info btn-sm">Change Image</a>
{% else %}
<img src='/media/profile_pics/men.png' class="rounded-circle" width="150px" alt="">
<br>
<br>
<a href="{% url 'App_Login:add_pro_pic' %}" class="btn btn-info btn-sm">Change Image</a>
{% endif %}
<br>
<p>Username:{{user.username}}</p>
<p>Name:{{user.first_name}} {{user.last_name}} </p>
<p>Email:{{user.email}}</p>
<a href="{% url 'App_Login:change_profile' %}" class="btn btn-warning btn-sm">Change Profile Info</a>
{% endblock %}
<br>
