{% extends 'base.html' %}
{% block title_block %} {{signup}} {% endblock %}
{% load crispy_forms_tags %}
{% block body_block %}




<center>
  {% if registered %}
  <div class="alert alert-success">
    <p>Accont Create Successfully <a href="{% url 'App_Login:login' %}">Login Here </a></p>
  </div>
  {% else %}
  <div class='sign_up'>

    <h3>Sign up to Upload Your Files</h3>

    <form method="POST">
      {{ form|crispy}}
      {% csrf_token %}
      <button type="submit" style="width:100%" class="btn btn-primary">Sign up</button>
    </form>
  </div>
  <br>
  <div class="log_in">
    <p>Already have an Account?<a href="{% url 'App_Login:login' %}">Login Here</a> </p>
  </div>

</center>
{% endif %}
{% endblock %}